<div class="myrequest-wrapper">
  <div class="container">
    <div class="text-center">
      <h1>Your requests</h1>
    </div>
    <% @myrequests.each do |request| %>
    <div class="row">
      <div class="myrequest">
        <div class="myrequest-body">
          <h5>Request No.:</h5>
          <h6><%= request.id %></h6>
        </div>
        <div class="myrequest-body">
          <h5>When: </h5>
          <h6><%= request.start_time.strftime("%H:%M") %> - <%= request.stop_time.strftime("%H:%M") %></h6>
        </div>
        <div class="myrequest-body">
          <h5>Offers:</h5>
          <h6><%= @offers.where(request_id: request.id).count %></h6>
        </div>
          <%= link_to "", myrequest_path(user_id: current_user.id, id: request.id), class: "myrequest-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

