<div class="myrequest-wrapper">
  <div class="text-center">
    <h1>Your requests</h1>
  </div>
  <div
  class="myrequest-map"
  id="mapmyrequestsindex"
  style="width: 100%;
  height: 406px;"
  data-markers_from="<%= @markers_from.to_json %>"
  data-map_as="driver"
  data-mapbounds = "<%= @mapbounds.to_json %>"

  >
  </div>
  <div class="container">
    <div class="row myrequest-show">
      <% @myrequests.each do |request| %>
      <div class="myrequest">
        <div class="myrequest-body">
          <h5>Request No.:</h5>
          <h6><%= request.id %></h6>
        </div>
        <div class="myrequest-body">
          <h5>When: </h5>
          <h6><%= request.start_time.strftime("%H:%M") %> - <%= request.stop_time.strftime("%H:%M") %></h6>
        </div>
        <div class="myrequest-body">
          <h5>Offers:</h5>
          <h6><%= @offers.count %></h6>
        </div>
        <%= link_to "", myrequest_path(id: request.id), class: "myrequest-link" %>
      </div>
      <% end %>
    </div>
</div>
</div>

