<h1>Myrequests#show</h1>
<p>Find me in app/views/myrequests/show.html.erb</p>

<ul>

<li> start time: <%=  @myrequest.start_time %></li>
<li> stop time: <%= @myrequest.stop_time %> </li>
<li> from lng: <%= @myrequest.from_lng %> </li>
<li> fom lat: <%= @myrequest.from_lat %> </li>
<li> to lng: <%= @myrequest.to_lng %> </li>
<li> to lat: <%= @myrequest.to_lat %> </li>
</ul>


