<% content_for :title, "Request Information" %>

<div
id="mapshowmyrequest"
style="width: 100%; height: 50vh;"
data-marker_from_self="<%= @marker_from_passenger.to_json %>"
data-counterparts="<%= @drivers.to_json %>"
data-marker_to="<%= @marker_to.to_json %>"
data-rides_tags="<%= @rides.map { |ride| "select-ride-#{ride.id}"} %>"
>
</div>

<div class="myrequest-container">

  <div class="journey-info" data-toggle="collapse" data-target="#collapse-driver" aria-expanded="true" aria-controls="collapse-driver">
    <div class="full-width">
      <div class="myrequest-datetime">

        <h3><%= @myrequest.start_time.strftime("%d.%m.%y") %>
        </h3>
        <div>
          <h3>
           <%= @myrequest.start_time.strftime("%H:%M") %> <i class="fas fa-arrow-circle-right"></i>
           <%= @myrequest.stop_time.strftime("%H:%M") %>
         </h3>
       </div>

     </div>
     <div class="trip-info">

      <div class="trip-align-top"><p> <%= @myrequest.from_address.split(",").first %> to <%= @myrequest.to_address.split(",").first %>
      </p>
    </div>
    <div class="badge-offers"><%= @drivers.count %> Offers</div>
  </div>
</div>
</div>


<div class="list-group" role="tablist" aria-multiselectable="true">

  <% @offers.each do |offer| %>

  <div class="offer-card" id="select-ride-<%= offer.ride.id %>" ">
    <div class="card-header" id="heading-<%= offer.id %>" data-toggle="collapse" data-target="#collapse-<%= offer.id %>" aria-expanded="true" aria-controls="collapse-<%= offer.id %>">

      <div class="user-group">

        <%= cl_image_tag(offer.ride.user.photo, width:200, height:200, class:"avatar") %>
        <div class="ride-info">
            <p>
              <%= offer.ride.user.first_name %>
            </p>
            <div class="ride-info-icons">

            <p>

              <i class="fas fa-home"></i>

              <%= (offer.ride.departure_time - offer.duration_to_car).strftime("%I:%M")  %>
              <i class="fas fa-arrow-circle-right"></i>
              <%= (offer.ride.departure_time + offer.ride.duration + offer.duration_to_dest).strftime("%I:%M")  %>
            </p>

            <p>

              <i class="fas fa-stopwatch"></i>
              <%= (offer.duration_to_car + offer.ride.duration + offer.duration_to_dest) / 60 %> min

            </p>

          </div>
        </div>
      </div>

      <div class="status-group">
        <%= link_to ride_offer_path(offer.ride, offer, {confirmed: false}), data: {ride: "#{offer.ride.id}", offer: "#{offer.id}"}, class: "decline-btn", method: :put do %>
        <i class="icon fas fa-times fa-2x"></i>
        <% end %>
        <%= link_to ride_offer_path(offer.ride,offer, {confirmed: true}), :method=> :put do %>
        <i class="icon fas fa-check fa-2x"></i>
        <% end %>
      </div>
    </div>
    <div id="collapse-<%= offer.id %>" class="card-details collapse more-infos" aria-labelledby="heading-<%= offer.id %>" data-parent="#accordion">

      <div class="more-infos">
        <div class="highlight-container">

          <div class="highlight study">
            <div class="study-small"> STUDY </div>
            <%= offer.request.user.course %> </div>

            <div class="highlight semester">

              <div class="semester-small"> SEMESTER </div>
              <%= offer.request.user.semester %>
            </div>
          </div>

          <div class="info-container-pills">
            <% if offer.request.user.music %>
            <div class="info-music info-pill">
              <% offer.request.user.music.split(",").each do |music| %>
              <span class="badge badge-music badge-primary badge-pill"><%= music %></span>
              <% end %>
              <% end %>

              <% if offer.request.user.hobby %>
              <% offer.request.user.hobby.split(",").each do |hobby| %>
              <span class="badge badge-hobby badge-primary badge-pill"><%=  hobby %></span>
              <% end %>
            </div>
            <% end %>
          </div>
          <div class="description-container">
            <p>
              <%=  offer.request.user.description %>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At velit error fugiat sequi nostrum laudantium quibusdam esse, dolores, alias harum, impedit laborum ad cum nulla iusto deleniti minima voluptate numquam repellat perspiciatis. Recusandae quia molestiae aperiam aspernatur totam unde voluptatum ratione at vitae veniam ex adipisci porro saepe nobis quasi et magni accusantium veritatis, expedita non laborum, provident doloremque ipsa voluptas atque! Vel beatae, corrupti labore adipisci soluta. Facere aperiam ipsum, incidunt, est nostrum sed tenetur esse pariatur! At, temporibus.
            </p>
          </div>
        </div>
      </div>

    </div>
    <% end %>
  </div>

</div>
