<% content_for :title, "Request Information" %>

<div
id="mapshowmyrequest"
style="width: 100%; height: 50vh;"
data-marker_from_self="<%= @marker_from_passenger.to_json %>"
data-counterparts="<%= @drivers.to_json %>"
data-marker_to="<%= @marker_to.to_json %>"
data-rides_tags="<%= @rides.map { |ride| "select-ride-#{ride.id}"} %>"
>
</div>

<div class="myrequest-container">

  <div class="drivers-dash">
    <h4><%= @drivers.count %> Offers</h4>
    <p>
      <%= @myrequest.start_time.strftime("%d %B") %> between <%= @myrequest.start_time.strftime("%H:%M") %> and <%= @myrequest.stop_time.strftime("%H:%M") %>
    </p>
    <p>
      <strong> <%= @myrequest.from_address.split(",").first %> </strong> =><strong> <%= @myrequest.to_address.split(",").first %> </strong>
    </p>
  </div>





  <div class="list-group" role="tablist" aria-multiselectable="true">



    <% @offers.each do |offer| %>



    <div class="offer-card" id="select-ride-<%= offer.ride.id %>" ">
      <div class="card-header" id="heading-<%= offer.id %>" data-toggle="collapse" data-target="#collapse-<%= offer.id %>" aria-expanded="true" aria-controls="collapse-<%= offer.id %>">

        <div class="user-group">

          <%= cl_image_tag(offer.ride.user.photo, width:200, height:200, class:"avatar") %>
          <div class="ride-info">

            <p>
              <%= offer.ride.user.first_name %>, <%= offer.ride.user.age %>
            </p>
            <div class="ride-info-icons">

              <p>

                <i class="fas fa-home"></i>

                <%= (offer.ride.departure_time - offer.duration_to_car).strftime("%I:%M")  %>
                <i class="fas fa-arrow-circle-right"></i>
                <%= (offer.ride.departure_time + offer.ride.duration + offer.duration_to_dest).strftime("%I:%M")  %>
              </p>

              <p>

                <i class="fas fa-stopwatch"></i>
                <%= (offer.duration_to_car + offer.ride.duration + offer.duration_to_dest) / 60 %> min

              </p>

            </div>
          </div>
        </div>

        <div class="status-group">
          <%= link_to ride_offer_path(offer.ride, offer, {confirmed: false}), data: {ride: "#{offer.ride.id}", offer: "#{offer.id}"}, class: "decline-btn", method: :put do %>
          <i class="icon fas fa-times fa-2x" style="color: red" ></i>
          <% end %>
          <%= link_to ride_offer_path(offer.ride,offer, {confirmed: true}), :method=> :put do %>
          <i class="icon fas fa-check fa-2x" style="color: green"></i>
          <% end %>
        </div>
      </div>
      <div id="collapse-<%= offer.id %>" class="card-details collapse more-infos" aria-labelledby="heading-<%= offer.id %>" data-parent="#accordion">

        <h5>About me</h5>
        <p>Hi, I am <%= offer.ride.user.first_name %> and I study <span class="highlight"> <%= offer.ride.user.course %> </span> since <span class="highlight"> <%= offer.ride.user.semester %> semesters. </span> </p>



        <h5 class="music-style">My music
          <span class="badge badge-primary badge-pill"><%=  offer.ride.user.music %></span></h5>
          <h5>Hobbies
            <span class="badge badge-primary badge-pill"><%=  offer.ride.user.hobby %></span>
          </h5>
          <p style="margin-top: 10px; font-size: 15px; font-style: italic;"> <%=  offer.ride.user.quote %></p>

      </div>

    </div>
    <% end %>
  </div>

</div>
