<h1>Myrequests#show</h1>
<p>Find me in app/views/myrequests/show.html.erb</p>



<% @myrequests.each do |request| %>

<ul>

<li> start time: <%=  request.start_time %></li>
<li> stop time: <%= request.stop_time %> </li>
<li> from lng: <%= request.from_lng %> </li>
<li> fom lat: <%= request.from_lat %> </li>
<li> to lng: <%= request.to_lng %> </li>
<li> to lat: <%= request.to_lat %> </li>
</ul>


<% end %>
