<div class="container">
  <h1>Find a ride!</h1>
  <h2 style="color: red;">Check your inputs</h2>

  <div>
    <%= form_for @request, html: {class: "form-ride"} do |f| %>

    <div class="form-group date_field flex-group">
        <i class="far fa-calendar-alt"></i>
        <%=  f.datetime_field :start_time, value: "#{Time.now.strftime("%Y-%m-%dT%H:%M")}", class: "form-control"%>
    </div>

    <div class="form-group to_time_field time_field flex-group">
      <i class="far fa-clock"></i>
      <%=  f.time_field :stop_time, value: "#{(Time.now + 3600).strftime("%H:%M")}", class: "form-control" %>
    </div>

    <div class="form-group flex-group">
      <i class="fas fa-map-marker"></i>
      <%= f.text_field :from_address, class: "form-control", placeholder: "from here" %>
    </div>

    <div class="form-group flex-group">
      <i class="fas fa-compass"></i>
      <%= f.text_field :to_address, class: "form-control", placeholder: "to there" %>
    </div>

    <%= f.submit "Submit", class: "btn index-buttons" %>
    <% end %>
  </div>
</div>
