<div class="home-wrapper text-center">
   <%= image_tag("logo.png", size:"100x100", class: "logo-home") %>
  <h1>Pingo!</h1>
  <h2>Share the ride</h2>
  <h3>Make some friends</h3>
  <% if user_signed_in? %>
    <div class="home-card-wrapper">
        <div class="card card-home" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(0,0,0,0.2)), url(<%= image_path("bayreuth.jpg") %>);">
        <div class="card-description">
          <h2>Bayreuth</h2>
        </div>
        <%= form_tag("/rides", method: "get") do %>
          <%= hidden_field_tag(:lat, 49.928771) %>
          <%= hidden_field_tag(:lng, 11.585840) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("tuebingen.jpg") %>);">
        <div class="card-description">
          <h2>Tübingen</h2>
        </div>
        <%= form_tag("/rides", method: "get") do %>
          <%= hidden_field_tag(:lat, 48.528148) %>
          <%= hidden_field_tag(:lng, 9.062759) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("aachen.jpg") %>);">
        <div class="card-description">
          <h2>Aachen</h2>
        </div>
        <%= form_tag("/pages", method: "get") do %>
          <%= hidden_field_tag(:lat, 50.778606) %>
          <%= hidden_field_tag(:lng, 6.067393) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="home-card-wrapper">
        <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("bayreuth.jpg") %>);">
        <div class="card-description">
          <h2>Bayreuth</h2>
        </div>
        <%= form_tag("/pages", method: "get") do %>
          <%= hidden_field_tag(:lat, 49.928771) %>
          <%= hidden_field_tag(:lng, 11.585840) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("tuebingen.jpg") %>);">
        <div class="card-description">
          <h2>Tübingen</h2>
        </div>
        <%= form_tag("/pages", method: "get") do %>
          <%= hidden_field_tag(:lat, 48.528148) %>
          <%= hidden_field_tag(:lng, 9.062759) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("aachen.jpg") %>);">
        <div class="card-description">
          <h2>Aachen</h2>
        </div>
        <%= form_tag("/pages", method: "get") do %>
          <%= hidden_field_tag(:lat, 50.778606) %>
          <%= hidden_field_tag(:lng, 6.067393) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
