<% content_for :title, "Pingo!" %>


<div class="home-wrapper text-center">
   <%= image_tag("logo.png", size:"100x100", class: "logo-home") %>
  <h1>Pingo!</h1>
  <h2>Share the ride</h2>
  <h3>Make some friends</h3>
  <% if user_signed_in? %>
    <div class="home-card-wrapper">
        <div class="card card-home" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(0,0,0,0.2)), url(<%= image_path("bayreuth.jpg") %>);">
        <div class="card-description">
          <h2>Uni Bayreuth</h2>
        </div>
        <%= form_tag("/rides", method: "get") do %>
          <%= hidden_field_tag(:lat, 49.94) %>
          <%= hidden_field_tag(:lng, 11.58) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("aachen.jpg") %>);">
        <div class="card-description">
          <h2>RWTH Aachen</h2>
        </div>
        <%= form_tag("/rides", method: "get") do %>
          <%= hidden_field_tag(:lat, 50.773) %>
          <%= hidden_field_tag(:lng, 6.085) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("braunschweig.jpg") %>);">
        <div class="card-description">
          <h2>TU Braunschweig</h2>
        </div>
        <%= form_tag("/rides", method: "get") do %>
          <%= hidden_field_tag(:lat, 52.264556) %>
          <%= hidden_field_tag(:lng, 10.521673) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="home-card-wrapper">
        <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("bayreuth.jpg") %>);">
        <div class="card-description">
          <h2>Uni Bayreuth</h2>
        </div>
        <%= form_tag("/pages", method: "get") do %>
          <%= hidden_field_tag(:lat, 49.94) %>
          <%= hidden_field_tag(:lng, 11.58) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("aachen.jpg") %>);">
        <div class="card-description">
          <h2>RWTH Aachen</h2>
        </div>
        <%= form_tag("/pages", method: "get") do %>
          <%= hidden_field_tag(:lat, 50.773) %>
          <%= hidden_field_tag(:lng, 6.085) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("braunschweig.jpg") %>);">
        <div class="card-description">
          <h2>TU Braunschweig</h2>
        </div>
        <%= form_tag("/pages", method: "get") do %>
          <%= hidden_field_tag(:lat, 52.264556) %>
          <%= hidden_field_tag(:lng, 10.521673) %>
          <%= submit_tag("", class: "card-link") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
