<div class="home-wrapper text-center">
   <%= image_tag("logo.png", size:"50x50", class: "logo-home") %>
  <h1>Pingo!</h1>
  <h2>Share the ride</h2>
  <h3>Make some friends</h3>
  <div class="home-card-wrapper">
      <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("bayreuth.jpg") %>);">
      <div class="card-description">
        <h2>Bayreuth</h2>
      </div>
      <%= link_to "", rides_path, class: "card-link" %>
    </div>
    <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("tuebingen.jpg") %>);">
      <div class="card-description">
        <h2>Tübingen</h2>
      </div>
      <%= link_to "", rides_path, class: "card-link"  %>
    </div>
    <div class="card card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path("aachen.jpg") %>);">
      <div class="card-description">
        <h2>Aachen</h2>
      </div>
      <%= link_to "", rides_path, class: "card-link"  %>
    </div>
  </div>
</div>
