

<div class="wrapper-suggestions">
  <div class="container">
    <div class="row">

      <form action=<%= ride_offers_path %> method="post">
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >



      <% @suggestions.each do |request| %>
        <input type="checkbox" id=<%= "#{request.id}" %> name=<%= "#{request.id}"%> >
        <label for=<%= "#{request.id}" %>>
          <div class="suggestion-field">
            <div class="suggestion-picture">
              <%= cl_image_tag(request.user.photo, class: "avatar suggestions-avatar") %>
            </div>
              <div class="name">
                <h3><%= request.user.first_name %></h3>
              </div>
              <div class="age">
                <p><%= request.user.age%></p>
              </div>
          </div>
        </label>
      <% end %>

      <input type="submit" class="btn btn-standard form-control">

      </form>


    </div>
  </div>
</div>

<!-- <div class="col-xs-6">

      <ul class="list-group">

        <li class="list-group-item active">Request id:  request.id</li>

        <li class="list-group-item">  link_to , ride_offers_path(request_id request.id )
        -->
