<% content_for :title, "Select your passengers" %>





<div class="wrapper-suggestions">

  <div class="journey-info text-information">

    <h2>Passengers</h2>
    <p>Swipe right, up to <%= @ride.seats %> passengers</p>


  </div>


  <div class="tinder-container">
    <form action=<%= ride_offers_path %> method="post">
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >

      <ul>
        <li class="offer-card no-more-passenger-cover">
          <h4>Sorry, nobody else wants to go from </h4>
          <h4> <%= @ride.from_address.split(",").first %></h4>
          <p> to </p>
          <h4> <%= @ride.to_address.split(",").first %>
          </h4>
          <p> at </p>
          <h4><%= @ride.departure_time.strftime("%I:%M") %></h4>
        </li>
        <% zindex = 10 %>
        <% @suggestions.each_with_index do |suggestion, i| %>
        <li class="swipe-card-element">

          <input type="checkbox" id=<%= "#{suggestion[0].id}" %> name=<%= "#{suggestion[0].id}"%> >
          <div class="offer-card" >
            <div class="card-header" ">

              <div class="suggestions-count">
               <h6 class="sugg-count-text">

                <%= "#{@suggestions.length-i}/#{@suggestions.length}" %>
              </h6>
            </div>
            <%= cl_image_tag(suggestion[0].user.photo, width:200, height:200, class:"avatar") %>
            <p>
              <%= suggestion[0].user.first_name  %>
            </p>

            <div class="highlight-container">

              <div class="highlight study">
                <div class="study-small"> STUDY </div>

                <%= suggestion[0].user.course %>
              </div>

              <div class="highlight semester">

                <div class="semester-small"> SEMESTER </div>
                <%= suggestion[0].user.semester %>
              </div>
            </div>


            <div class="info-container-pills info-music info-pill">
              <% if suggestion[0].user.music %>
              <% suggestion[0].user.music.split(",").each do |music| %>
              <span class="badge badge-music badge-primary badge-pill"><%= music %></span>
              <% end %>
              <% end %>

              <% if suggestion[0].user.hobby %>
              <% suggestion[0].user.hobby.split(",").each do |hobby| %>
              <span class="badge badge-hobby badge-primary badge-pill"><%=  hobby %></span>
              <% end %>
              <% end %>
            </div>

          </div>


<div class="status-group">
<!--         <div id="left-button"></div>
        <i class="icon fas fa-times fa-2x" ></i>
        <i class="icon fas fa-check fa-2x" id="right-button" ></i>
 -->
        <i class="icon fas fa-times fa-2x left-button" style="z-index= <%= zindex %>" ></i>
        <i class="icon fas fa-check fa-2x right-button" style="z-index= <%= zindex %>"></i>
</div>

        </div>


        <div class="max-passenger-cover hidden">
             <%= image_tag("logo.png", size:"100x100", class: "logo-home animated shake") %>
          <h3 class="animated shake">Your car is full!</h3>
        </div>

      </li>
      <% zindex -= 1 %>
      <% end %>
    </ul>

</div>
</div>

  <div class="wrapper-seats">


    <div class="loading-bar">
      <% @ride.seats.times do %>
      <div class="segment">
        <div class="dynamic" style="width: 0%;">
        </div>
      </div>
      <% end %>
    </div>

  </div>
    <div class="buttons">

        <input class="hidden animated bounceInUp" id="submit-button" type="submit"  value="Ride together">

    </div>

</form>

<%= javascript_pack_tag "tinder" %>

