<% content_for :title, "Select your passengers" %>

<div class="wrapper-suggestions">
  <div class="container tinder-container">
    <form action=<%= ride_offers_path %> method="post">
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
    <!--   <% if @suggestions.empty? %>
        <p>no passengers for this time!</p>
      <% end %> -->
      <ul>
        <div class="no-more-passenger-cover tinder-card">
          <h4>Sorry, nobody else wants to go from </h4>
          <h4> <%= @ride.from_address %></h4>
            <p> to </p>
            <h4> <%= @ride.to_address %>
              </h4>
            <p> at </p>
              <h4><%= @ride.departure_time %></h4>
        </div>
        <% @suggestions.each_with_index do |suggestion, i| %>
          <li class="swipe-card-element tinder-card">
              <input type="checkbox" id=<%= "#{suggestion[0].id}" %> name=<%= "#{suggestion[0].id}"%> >

              <div class="tinder-picture text-center">
                <%= cl_image_tag(suggestion[0].user.photo) %>
              </div>
              <div class="tinder-card-info">
                <h3><%= suggestion[0].user.first_name  %></h3>
                  <p><i class="fas fa-graduation-cap"></i><%= suggestion[0].user.course %> <%= suggestion[0].user.semester %>. Semester</p>
                  <p><i class="fas fa-music"></i><%=  suggestion[0].user.music%></p>
                  <p><i class="far fa-heart"></i><%=  suggestion[0].user.hobby%></p>
              </div>
              <div class="max-passenger-cover hidden">
                <h3>Car full</h3>
              </div>

              <div class="suggestions-count">
                <p><%= "#{@suggestions.length-i}/#{@suggestions.length}" %></p>
              </div>
          </li>
        <% end %>
      </ul>

      <div class="buttons">
        <input type="submit" class="tinder-submit">
        <div class="tinder-submit" id="left-button">
          <i class="fas fa-times"></i>
        </div>
        <div class="tinder-submit" id="right-button">
          <i class="fas fa-check"></i>
        </div>
      </div>

    </form>

  </div>
</div>


<div class="wrapper-seats">
  <h3>Select passengers</h3>
  <h3>Seats left:  <i class="fas fa-level-down-alt"></i></h3>


  <div class="loading-bar">
  <% @ride.seats.times do %>
    <div class="segment">
      <div class="dynamic" style="width: 0%;">
      </div>
    </div>
  <% end %>
  </div>

</div>

<div class="wrapper-tinder-submit">
</div>


  <%= javascript_pack_tag "tinder" %>

