  <div class="title">
    <!-- <h1>All those People are willing to take you</h1> -->
  </div>
  <div class="map-dummy">
    <div
  id="map"
  style="width: 100%;
  height: 100%;"
  data-markers_from="<%= @markers_from.to_json %>"
  data-markers_to="<%= @markers_to.to_json %>"
  ></div>
  </div>



  <div class="form-opener">
    <a href="" class="btn btn-standard" id="new-ride-button">Make a new ride</a>
  </div>

  <div class="new-ride-form hidden" id="x-button">
    <div id="close-button">
      <i class="fas fa-times" style="font-size:26px;"></i>
    </div>


    <%= form_for @ride = Ride.new do |f| %>
      <div class="form-group flex-group">
        <!-- <%= f.label :departure_time, "Departure" %> -->
        <i class="far fa-clock"></i>
        <%=  f.datetime_field :departure_time, class: "form-control" %>
      </div>
      <div class="form-group flex-group">
        <!-- <%= f.label :from_address, "From" %> -->
        <i class="fas fa-map-marker"></i>
        <%= f.text_field :from_address, class: "form-control", placeholder: "from here" %>
      </div>
      <div class="form-group flex-group">
        <!-- <%= f.label :to_address, "To" %> -->
        <i class="fas fa-compass"></i>
        <%= f.text_field :to_address, class: "form-control", placeholder: "to there" %>
      </div>
      <div class="form-group flex-group">
        <i class="fas fa-users"></i>
        <%= f.number_field :seats, as: :integer, class: "form-control", placeholder: "Number of seats" %>
      </div>
      <%= f.submit "share your ride", class: "btn btn-standard form-control" %>
   <% end %>
  </div>


<!--   <div>
=======
  <div>
    <%= link_to "Take me with you!", new_request_path, class: "btn btn-primary" %>
  </div>
  <div>
>>>>>>> master
    <ul><% @rides.each do |ride| %>
      <li><%= ride.user.email %></li>
      <li><%= ride.user.age %></li>
      <li><%= cl_image_tag ride.user.photo %></li>
    <% end %>
    </ul>
  </div>
<<<<<<< HEAD
 -->
<!--

     -->
  <div>
    <%= link_to "Take me with you", new_request_path, class: "btn btn-primary" %>
  </div>
</div>
