  <div class="title">
    <!-- <h1>All those People are willing to take you</h1> -->
  </div>
  <div class="map-dummy">
    <p>Here comes a map</p>
  </div>

  <div class="form-opener">
    <a href="" class="btn btn-standard" id="new-ride-button">Make a new ride</a>
  </div>

  <div class="new-ride-form hidden">
    <%= simple_form_for @ride = Ride.new do |f| %>
      <%= f.input :departure_time, as: :datetime%>
      <%= f.input :from_address%>
      <%= f.input :to_address%>
      <%= f.input :seats, as: :integer %>
      <%= f.button :submit, "share your ride" %>
    <% end %>
  </div>


<!--   <div>
=======
  <div>
    <%= link_to "Take me with you!", new_request_path, class: "btn btn-primary" %>
  </div>
  <div>
>>>>>>> master
    <ul><% @rides.each do |ride| %>
      <li><%= ride.user.email %></li>
      <li><%= ride.user.age %></li>
      <li><%= cl_image_tag ride.user.photo %></li>
    <% end %>
    </ul>
  </div>
<<<<<<< HEAD
 -->
<!--

     -->
  <div>
    <%= link_to "Take me with you", new_request_path, class: "btn btn-primary" %>
  </div>
</div>
