  <div class="map-dummy">
    <div
  id="map-rides-index"
  style="width: 100%;
  height: 100%;"
  data-counterparts="<%= @drivers.to_json %>"

  ></div>
  </div>



  <div class="form-opener">
    <a href="" class="btn btn-standard" id="new-ride-button">Make a new request</a>
  </div>

  <div class="new-ride-form hidden" id="x-button">
    <div id="close-button">
      <i class="fas fa-times" style="font-size:26px;"></i>
    </div>


    <%= form_for @request do |f| %>

      <div class="form-group time-group">
        <div class="date_field flex-group">
          <i class="far fa-calendar-alt"></i>
          <%=  f.datetime_field :start_time, class: "form-control"%>
        </div>
      </div>

      <div class="form-group to_time_field time_field flex-group">
          <i class="far fa-clock"></i>
          <%=  f.time_field :stop_time, class: "form-control" %>
      </div>

      <div class="form-group flex-group">
        <i class="fas fa-map-marker"></i>
        <%= f.text_field :from_address, class: "form-control", placeholder: "from here" %>
      </div>

      <div class="form-group flex-group">
        <i class="fas fa-compass"></i>
        <%= f.text_field :to_address, class: "form-control", placeholder: "to there" %>
      </div>

      <%= f.submit "Submit", class: "btn btn-standard form-control" %>
   <% end %>
  </div>
</div>


