
          <div class="accordion-card card-header" role="tab" id="heading-<%= offer.id %>">
            <h5 class="mb-0">

              <div class="offer-card" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= offer.id %>" aria-expanded="true" aria-controls="collapse-<%= offer.id %>">


                <div class="user-group">

                  <%= cl_image_tag(offer.request.user.photo, width:200, height:200, class:"avatar") %>
                  <div class="ride-info">

                    <p>
                      <%=  offer.request.user.first_name %>, <%=  offer.request.user.age %>
                    </p>
                    <div class="ride-info-icons">

                      <p>
                        <%= image_tag("walker.png", class: "ride-symbols") %>
                        <%= offer.duration_to_car / 60 %> min
                      </p>

                    </div>
                  </div>
                </div>

                <div class="status-group">
                  <% if offer.confirmed %>
                  <i class="icon fas fa-question fa-2x" style="color: gray" ></i>
                  <% elsif offer.confirmed.nil? %>
                  <i class="icon fas fa-check fa-2x" style="color: green"></i>
                  <% elsif offer.confirmed == false %>
                  <i class="icon fas fa-times fa-2x" style="color: red" ></i>
                  <% end %>
                </div>
              </div>
            </h5>
            <div id="collapse-<%= offer.id %>" class="collapse" role="tabpanel" aria-labelledby="heading-<%= offer.id %>">
              <p>Who I am: <%=  offer.request.user.description  %></p>
            </div>
          </div>

