<div
  id="mapshow"
  style="width: 100%;
  height: 600px;"
  data-marker_from_driver="<%= @marker_from_driver.to_json %>"
  data-passengers="<%= @passengers.to_json %>"
  data-marker_to="<%= @marker_to.to_json %>"
></div>

<div class="container">
  <div>
    <h1>This is your ride</h1>
    <div>
      <p>Driver: <%= @ride.user.email %></p>
      <p>Departure: <%= @ride.departure_time.strftime("%H:%M") %></p>
      <p>From: <%= @ride.from_lat %> <%= @ride.from_lng %></p>
      <p>To: <%= @ride.to_lat %> <%= @ride.to_lng %></p>
    </div>
  </div>
  <div class="row">
    <h1>This is your Passengers</h1>

    <% @offers.each do |offer| %>
    <div class="col-xs-4">
      <div class="card">
        <div class="card-category"><li>start time: <%=  offer.request.start_time.strftime("%H:%M") %></li>
          <li>stop time: <%= offer.request.stop_time.strftime("%H:%M") %></li>
          <li>Status <%= offer.confirmed == nil ? "unanswered" : "#{offer.confirmed}" %></li><li><a href="myrequests/<%= offer.id %>"><%=  offer.id %></li></a>

        </div>
          <div class="card-description">
            <h2><%=  offer.request.user.first_name %> <%=  offer.request.user.last_name %></h2>

          </div>
          <img class="card-user" <%= cl_image_tag(offer.request.user.photo, height: 100, width: 100) %>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>



