<div class="container">

<div>
  <h1>This is your ride</h1>
  <div>
    <p>Driver: <%= @ride.user.email %></p>
    <p>Departure: <%= @ride.departure_time %></p>
    <p>From: <%= @ride.from_lat %> <%= @ride.from_lng %></p>
    <p>To: <%= @ride.to_lat %> <%= @ride.to_lng %></p>
  </div>
</div>
  <div class="row">
  <h1>This is your Passengers</h1>

    <% @requests.each do |request| %>
    <div class="col-xs-4">
      <div>
        <ul class="list-group">
          <a href="myrequests/<%= request.id %>"><li class="list-group-item active"> Request id: <%=  request.id %></li></a>
          <li class="list-group-item"> start time: <%=  request.start_time %></li>
          <li class="list-group-item"> stop time: <%= request.stop_time %> </li>
          <li class="list-group-item"> from lng: <%= request.from_lng %> </li>
          <li class="list-group-item"> fom lat: <%= request.from_lat %> </li>
          <li class="list-group-item"> to lng: <%= request.to_lng %> </li>
          <li class="list-group-item"> to lat: <%= request.to_lat %> </li>
        </ul>
      </div>
    </div>
      <% end %>
  </div>
</div>


