<div>
  <h1>This is your ride</h1>
  <div>
    <p>Driver: <%= @ride.user.email %></p>
    <p>Departure: <%= @ride.departure_time %></p>
    <p>From: <%= @ride.from_lat %> <%= @ride.from_lng %></p>
    <p>To: <%= @ride.to_lat %> <%= @ride.to_lng %></p>
  </div>
</div>
