  <div
  id="mapshow"
  style="width: 375px;
  height: 406px;"
  data-marker_from_self="<%= @marker_from_driver.to_json %>"
  data-counterparts="<%= @passengers.to_json %>"
  data-marker_to="<%= @marker_to.to_json %>"
  data-map_as="driver"
  data-mapbounds = "<%= @mapbounds.to_json %>"

  ></div>

  <div class="rideshow-container">

    <div class="drivers-dash">
      <h4><%= @ride.user.first_name %>, <%= @ride.user.age %></h4>
      <p>
        <%= cl_image_tag(@ride.user.photo, class: "avatar driver-avatar") %>
      </p>
      <p>
        <%= image_tag("to.png", class: "ride-symbols") %><strong> <%= @ride.from_address.split(",")[0] %> </strong>  <i class="fas fa-arrow-circle-right"></i> <strong> <%= @ride.to_address.split(",")[0] %></p> </strong>
      </p>
      <p>
        <%= image_tag("clock.png", class: "ride-symbols") %><strong>  <%=@ride.departure_time.strftime("%H:%M") %> <i class="fas fa-arrow-circle-right"></i> <%=(@ride.departure_time + @ride.duration).strftime("%H:%M") %>

        </p>

    </div>


      <ul class="list-group">


          <% @offers.each do |offer| %>



          <li class="offer-card">
            <div class="user-group">

              <%= cl_image_tag(offer.request.user.photo, width:200, height:200, class:"avatar") %>
              <div class="ride-info">

                <p>
                  <%=  offer.request.user.first_name %>, <%=  offer.request.user.age %>
                </p>
                <div class="ride-info-icons">

                  <p>
                    <%= image_tag("walker.png", class: "ride-symbols") %>
                    <%= offer.duration_to_car / 60 %> min
                  </p>

                </div>
              </div>
            </div>

            <div class="status-group">
              <% if offer.confirmed %>
              <i class="icon fas fa-check fa-2x" style="color: green"></i>
              <% elsif offer.confirmed.nil? %>
              <i class="icon fas fa-question fa-2x" style="color: gray" ></i>
              <% elsif offer.confirmed == false %>
              <i class="icon fas fa-times fa-2x" style="color: red" ></i>
              <% end %>
            </div>
          </li>
          <% end %>
        </ul>

  </div>



